<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Employee Form</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h1>New Employee</h1>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<form th:action="@{/employee}" th:object="${employee}" method="post">
				<p>
					Id: <input type="text" th:field="*{id}" />
				</p>
				<p>
					Name: <input type="text" th:field="*{name}" />
				</p>
				<p>
					Age: <input type="number" th:field="*{age}" />
				</p>
				<p>
					<input type="submit" value="Submit" />
				</p>
			</form>
		</div>
		<div class="col-md-4"></div>
	</div>
</body>
</html>